@import url("https://fonts.googleapis.com/css2?family=Charm&family=IM+Fell+French+Canon:ital@0;1&family=Red+Rose:wght@300&display=swap");
body, header .navbar, .banner, .banner .content, .video-container, .new-games-container .games-wrapper, .footer .social-media-icons {
  justify-content: center;
  align-items: center; }

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif; }

body {
  background-color: #110e0c;
  height: auto;
  scroll-behavior: smooth; }

header {
  top: 0;
  width: 100%;
  height: 16vh;
  background: rgba(44, 23, 12, 0.96);
  padding: 0 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  transition: all 0.5s ease-in;
  z-index: 10;
  /*navigation bar*/
  /*navigation bar - anchor tag*/
  /*logo*/ }
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    header {
      height: 13vh; } }
  @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    header {
      height: 13vh; } }
  header .navbar {
    position: relative;
    display: flex;
    margin-right: 3.2%;
    transition: all 0.5s ease-in; }
    @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      header .navbar {
        position: fixed;
        flex-direction: column;
        min-width: 250px;
        height: 350px;
        background-color: #2C170C;
        color: blanchedalmond;
        margin: 0;
        top: 2.5rem;
        right: -100%;
        align-items: flex-start;
        justify-content: start;
        padding-top: 4.5rem;
        border-radius: 15px 0 0 15px; } }
  header .navbar.active2 {
    right: 0;
    transition: all .4s ease; }
  @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    header .navbar .close-btn {
      position: absolute;
      top: 0;
      left: 0;
      margin: 25px; } }
  header .navbar > a {
    font-family: 'Red Rose', cursive;
    color: blanchedalmond;
    font-size: 1.2em;
    padding: 0.7rem 1.4rem;
    border-radius: 6px;
    margin: 0 0.5rem; }
    @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      header .navbar > a {
        display: block;
        font-size: 1.2rem;
        color: #eff5f4;
        margin: 0.3rem 15px; } }
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      header .navbar > a {
        font-size: 1.1rem;
        padding: 0.5rem 1rem;
        margin: 0; } }
  header .navbar > a > i {
    font-size: 0.9rem;
    padding-left: 1px; }
  header .navbar > a.active,
  header .navbar a:hover {
    background-color: #A9550D;
    transition: all 0.3s ease-in; }
    @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      header .navbar > a.active,
      header .navbar a:hover {
        background-color: transparent; } }
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      header .navbar > a.active,
      header .navbar a:hover {
        background-color: transparent; } }
  @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    header .navbar a:hover {
      transform: translateX(3.4px); } }
  @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    header .logo > a > img {
      width: 200px;
      height: auto; } }
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    header .logo > a > img {
      width: 210px;
      height: auto; } }
  header .nav-btns {
    font-size: 28px;
    color: #A9550D;
    cursor: pointer;
    display: none; }
    @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      header .nav-btns {
        display: block;
        font-size: 1.5rem; } }

/*Hr section*/
.hr-section {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  font-size: 1.8rem;
  font-family: 'IM Fell French Canon', serif;
  font-style: italic;
  color: blanchedalmond;
  margin: 35px 100px; }
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .hr-section {
      font-size: 1.5rem;
      margin: 25px 50px; } }
  @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .hr-section {
      font-size: 13px;
      margin: 15px 25px; } }

.hr-section:before,
.hr-section:after {
  content: "";
  flex-grow: 1;
  background: #A9550D;
  height: 2.4px;
  font-size: 0;
  line-height: 0;
  margin: 0 30px; }
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .hr-section:before,
    .hr-section:after {
      margin: 0 20px; } }
  @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .hr-section:before,
    .hr-section:after {
      margin: 0 6px; } }

.banner {
  background: url("images/persia.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 20px;
  display: flex; }
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .banner {
      width: 100%;
      height: 60vh; } }
  @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .banner {
      height: 60vh;
      padding: 90px 20px 40px 20px; } }
  .banner .content {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex; }
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      .banner .content {
        width: 100%;
        min-height: 50vh; } }
    @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      .banner .content {
        min-height: 40vh;
        margin: 90px 20px 40px 20px; } }
  .banner .content .texts {
    width: 50%;
    height: 100%;
    color: blanchedalmond;
    background: rgba(19, 18, 18, 0.6);
    padding: 20px;
    z-index: 1;
    border-radius: 15px; }
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      .banner .content .texts {
        width: 80%;
        margin-top: 12%;
        background: rgba(44, 23, 12, 0.4);
        padding: 20px;
        z-index: 1;
        border-radius: 15px; } }
    @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      .banner .content .texts {
        background: rgba(44, 23, 12, 0.4);
        z-index: 1;
        width: 80%;
        border-radius: 10px;
        padding: 10px; } }
  .banner .content .texts > h1 {
    font-size: 3.8em;
    letter-spacing: 1px;
    font-family: 'Red Rose', cursive; }
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      .banner .content .texts > h1 {
        font-size: 2rem;
        letter-spacing: 0; } }
    @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      .banner .content .texts > h1 {
        font-size: 1rem;
        letter-spacing: 0; } }
  .banner .content .texts > h2 {
    font-size: 1.8em;
    letter-spacing: 1px;
    font-family: 'Red Rose', cursive; }
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      .banner .content .texts > h2 {
        font-size: 0.9rem;
        letter-spacing: 0; } }
    @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      .banner .content .texts > h2 {
        font-size: 0.8rem;
        letter-spacing: 0; } }
  .banner .content .texts > p {
    margin-top: 20px;
    font-size: 0.9em;
    letter-spacing: 1px; }
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      .banner .content .texts > p {
        font-size: 0.7rem;
        letter-spacing: 0; } }
    @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      .banner .content .texts > p {
        margin-top: 6px;
        font-size: 0.5rem;
        letter-spacing: 0; } }
  .banner .content img {
    margin-top: 13vh;
    width: 530px; }
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      .banner .content img {
        position: absolute; } }
    @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      .banner .content img {
        margin-top: 0;
        width: 300px;
        position: absolute; } }
  .banner .buttons {
    margin: 30px 0; }
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      .banner .buttons {
        margin: 20px 0; } }
    @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      .banner .buttons {
        margin: 8px 0; } }
    .banner .buttons .btn, .banner .buttons .btn2 {
      padding: 10px 20px;
      border: 1px solid #2C170C;
      background-color: #A9550D;
      border-radius: 8px;
      color: blanchedalmond;
      transition: all 0.3s ease-in; }
      @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
        .banner .buttons .btn, .banner .buttons .btn2 {
          padding: 7px 10px;
          font-size: 0.7rem; } }
      @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
        .banner .buttons .btn, .banner .buttons .btn2 {
          padding: 4px 5px;
          font-size: 0.5em;
          border-radius: 5px; } }
    .banner .buttons .btn > i,
    .banner .buttons .btn2 > i {
      padding-left: 4px; }
    .banner .buttons .btn2 {
      margin-left: 10px; }
    .banner .buttons .btn:hover, .banner .buttons .btn2:hover {
      background-color: #ff7702; }

/*Story section*/
.section {
  padding: 0 0 10px 0;
  width: auto;
  height: 380px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.4s ease-in-out; }
  @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .section {
      flex-direction: row;
      opacity: 1;
      height: auto; } }
  .section .image-box {
    position: relative;
    width: 400px;
    height: 350px;
    margin: 10px 30px; }
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      .section .image-box {
        height: 280px; } }
    @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      .section .image-box {
        width: 200px;
        height: auto;
        margin: 0; } }
  .section .picture {
    /*image box of the gif*/
    border-radius: 50px 0 50px 0;
    object-fit: cover;
    width: 100%;
    height: 350px; }
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      .section .picture {
        height: 280px; } }
    @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      .section .picture {
        width: 200px;
        height: auto; } }
  .section .information {
    padding: 2px 5px 2px 10px;
    inline-size: 55%;
    overflow-wrap: break-word;
    text-align: justify;
    color: blanchedalmond;
    line-height: 32px; }
    .section .information .information > p {
      font-family: 'Charm', cursive; }
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      .section .information {
        padding-top: 25px;
        inline-size: 70%;
        font-size: 0.7rem;
        line-height: 18px; } }
    @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      .section .information {
        inline-size: 73%;
        padding-top: 3px;
        font-size: 0.58rem;
        line-height: 14px; } }

/* Apply the slide-in animation when the section is visible */
.slide-in.active {
  opacity: 1;
  transform: translateY(0); }

/*the image container*/
.main-container {
  position: relative;
  display: block;
  width: 100%;
  min-height: auto;
  /*first div*/
  /*Second div*/
  /*Third div*/
  /*Headings and paragraphs of this container*/ }
  @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .main-container {
      height: auto; } }
  .main-container .container1 {
    position: relative;
    display: flex;
    height: 50vh;
    flex-direction: row;
    margin: 3% 4%; }
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      .main-container .container1 {
        margin: 0% 3% 0 3%;
        height: 39vh; } }
    @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      .main-container .container1 {
        display: block;
        margin: 10%;
        height: 45vh; } }
  .main-container #texts1 {
    /*texts in the first div*/
    width: 50%;
    position: absolute;
    flex-wrap: wrap;
    bottom: 0;
    border-radius: 20px;
    left: 3%;
    text-align: justify;
    background-color: #2C170C;
    height: 25vh;
    z-index: 1; }
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      .main-container #texts1 {
        height: 14vh; } }
    @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      .main-container #texts1 {
        border-radius: 10px;
        width: 100%;
        height: 20vh;
        left: 0;
        bottom: 0; } }
  .main-container #chapter1 {
    /*image*/
    width: 50%;
    position: absolute;
    right: 3%;
    bottom: 0;
    transform: rotateZ(2deg);
    height: auto; }
    @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      .main-container #chapter1 {
        transform: none;
        top: 0;
        width: 100%;
        right: 0;
        position: relative; } }
  .main-container .container2 {
    position: relative;
    display: flex;
    height: 60vh;
    flex-direction: row;
    margin: 3% 4% 100px 4%; }
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      .main-container .container2 {
        margin: 2% 3% 0 3%;
        height: 30vh; } }
    @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      .main-container .container2 {
        display: block;
        margin: 0 10%;
        height: 45vh; } }
  .main-container #texts2 {
    /*texts in the first div*/
    width: 50%;
    height: 25vh;
    position: absolute;
    border-radius: 20px;
    right: 3%;
    text-align: justify;
    bottom: 0;
    right: 0;
    flex-wrap: wrap;
    background-color: #2C170C;
    z-index: 1; }
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      .main-container #texts2 {
        height: 12vh; } }
    @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      .main-container #texts2 {
        border-radius: 10px;
        width: 100%;
        height: 20vh;
        left: 0;
        bottom: 0; } }
  .main-container #chapter2 {
    /*image*/
    width: 50%;
    height: auto;
    position: absolute;
    left: 3%;
    bottom: 0;
    transform: rotateZ(-2deg); }
    @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      .main-container #chapter2 {
        transform: none;
        top: 0;
        width: 100%;
        left: 0;
        position: relative; } }
  .main-container .container3 {
    position: relative;
    display: flex;
    height: 50vh;
    flex-direction: row;
    margin: 3% 4% 4% 4%; }
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      .main-container .container3 {
        margin: 2% 3% 5% 3%;
        height: 30vh; } }
    @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      .main-container .container3 {
        display: block;
        margin: 10%;
        height: 45vh; } }
  .main-container #texts3 {
    /*texts in the third div*/
    width: 50%;
    position: absolute;
    flex-wrap: wrap;
    bottom: 0;
    border-radius: 20px;
    left: 3%;
    text-align: justify;
    background-color: #2C170C;
    height: 25vh;
    z-index: 1; }
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      .main-container #texts3 {
        height: 12vh; } }
    @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      .main-container #texts3 {
        border-radius: 10px;
        width: 100%;
        height: 22vh;
        left: 0;
        bottom: 0; } }
  .main-container #chapter3 {
    /*image div*/
    width: 50%;
    position: absolute;
    right: 3%;
    bottom: 0;
    transform: rotateZ(2deg);
    height: auto; }
    @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      .main-container #chapter3 {
        transform: none;
        top: 0;
        width: 100%;
        right: 0;
        position: relative; } }
  .main-container .ch-img {
    border-radius: 30px;
    width: 100%;
    height: 100%; }
    @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      .main-container .ch-img {
        border-radius: 15px; } }
  .main-container .para3.active, .main-container .para1.active, .main-container .para2.active,
  .main-container .heading3.active, .main-container .heading1.active, .main-container .heading2.active {
    opacity: 1;
    transform: translateY(0); }
  .main-container .heading1, .main-container .heading2, .main-container .heading3 {
    opacity: 0;
    color: #A9550D;
    transform: translateY(30px);
    transition: all 0.4s ease-in-out;
    padding: 10px 10px 5px 10px; }
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      .main-container .heading1, .main-container .heading2, .main-container .heading3 {
        font-size: 1rem; } }
    @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      .main-container .heading1, .main-container .heading2, .main-container .heading3 {
        font-size: 0.9rem; } }
  .main-container .para1, .main-container .para2, .main-container .para3 {
    color: blanchedalmond;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.4s ease-in-out;
    font-size: 0.9rem;
    padding: 4px 10px 10px 10px; }
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      .main-container .para1, .main-container .para2, .main-container .para3 {
        padding-top: 0;
        font-size: 0.55rem; } }
    @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      .main-container .para1, .main-container .para2, .main-container .para3 {
        padding-top: 0;
        font-size: 0.53rem; } }

.slider {
  position: absolute;
  height: 300px;
  margin: 0 auto 60px auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden; }
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .slider {
      position: relative; } }
  @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .slider {
      position: relative;
      height: 180px; } }
  .slider .sliding {
    display: flex;
    width: calc(400px * 14);
    animation: scroll 40s linear infinite; }
    @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      .slider .sliding {
        height: 200px;
        margin: 10px 0 0 0; } }
  .slider .slide {
    height: 350px;
    width: 400px;
    display: flex;
    align-items: center;
    padding: 0 27px;
    perspective: 100px; }
    @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      .slider .slide {
        height: 200px;
        width: 300px; } }
    .slider .slide img {
      width: 100%;
      border-radius: 30px 0 30px 0;
      transition: all 0.4s ease-in-out; }
    .slider .slide img:hover {
      transform: translateZ(20px);
      cursor: pointer; }

@keyframes scroll {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(calc(-250px * 7)); } }

.slider::before,
.slider::after {
  background: linear-gradient(to right, #110e0c 0%, rgba(17, 14, 12, 0) 100%);
  content: '';
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2; }

.slider::before {
  left: 0;
  top: 0; }

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg); }

.video-container {
  width: 100%;
  height: 50vh;
  display: flex;
  margin-top: -50px;
  transition: all 0.4s ease-in; }
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .video-container {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0; } }
  @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .video-container {
      width: 100%;
      height: auto;
      display: block;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 0; } }

iframe {
  padding: 20px;
  border-radius: 0 60px 0 60px; }
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    iframe {
      width: 80%;
      height: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0; } }
  @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    iframe {
      width: 100px;
      padding: 10px 20px;
      height: auto;
      margin: 0; } }

.new-games-container {
  width: 100%;
  margin-bottom: 50px; }
  .new-games-container .games-header {
    text-align: center;
    font-size: 2rem;
    color: blanchedalmond;
    font-family: 'Red Rose', cursive;
    margin: 0 0 15px 0; }
    @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      .new-games-container .games-header {
        font-size: 1.4rem;
        margin: 0 0 10px 0; } }
  .new-games-container .games-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; }
  .new-games-container .game {
    padding: 30px 30px 0 30px; }
    @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      .new-games-container .game {
        padding: 10px 10px 0 10px; } }
  .new-games-container .game > a > p {
    font-size: 1.1rem;
    color: blanchedalmond; }
    @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      .new-games-container .game > a > p {
        font-size: 0.9rem;
        text-align: center; } }
  .new-games-container .game > a > p:hover {
    font-size: 1.1rem;
    color: #A9550D; }
  .new-games-container .game > a > img {
    width: 250px;
    height: 350px; }
  .new-games-container .game > a > img:hover {
    opacity: 0.5;
    transition: all 0.4s ease;
    transform: translateX(3px); }

/*footer*/
.footer {
  bottom: 0;
  width: 100%;
  padding: 10px 100px;
  background-color: #A9550D; }
  .footer .footer-info {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center; }
    .footer .footer-info .ubisoft-logo {
      width: 130px;
      height: 90px; }
      @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
        .footer .footer-info .ubisoft-logo {
          width: 70px;
          height: 50px; } }
    @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      .footer .footer-info {
        display: block; } }
    .footer .footer-info .store {
      font-size: 1.3rem; }
      @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
        .footer .footer-info .store {
          display: flex;
          text-align: center;
          justify-content: center;
          font-size: 1rem; } }
    .footer .footer-info .store > li > a {
      padding: 0 8px; }
    .footer .footer-info .store > li > a > i {
      color: #131212; }
  .footer .footer-info > p {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px; }
    @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      .footer .footer-info > p {
        font-size: 0.8rem;
        padding: 3% 0;
        letter-spacing: 0; } }
  .footer .social-media-icons {
    display: flex; }
  .footer .social-media-icons > li {
    padding: 3px; }
  .footer .social-media-icons > li > a > i {
    color: blanchedalmond;
    font-size: 0.7rem;
    border: 1px solid blanchedalmond;
    border-radius: 100px;
    padding: 6px; }
  .footer .social-media-icons > li > a > i:hover {
    border: 1px solid #2C170C;
    background: #2C170C;
    border-radius: 100px; }
  .footer .footer-logo {
    position: relative; }
