//Importing scss files
@import 'media-queries.scss';
@import url('https://fonts.googleapis.com/css2?family=Charm&family=IM+Fell+French+Canon:ital@0;1&family=Red+Rose:wght@300&display=swap');

$brown_color: #2C170C;
$text_color: blanchedalmond;
$button_color: #A9550D;
$opacity: 0.96;
$background-opacity: 0.4;
$bg-opacity: 0.60;

//to align contents in center
%center {
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #110e0c;
    height: auto;
    @extend %center;
    scroll-behavior: smooth;
}

header {
    top: 0;
    width: 100%;
    height: 16vh;
    background: rgba($brown_color, $opacity);
    padding: 0 4%;
    display: flex;
    justify-content: space-between; //to evenly space between the contents
    align-items: center;
    position: fixed;
    transition: all 0.5s ease-in;
    z-index: 10; //to ensure the header is on top

    @include tablet{
        height: 13vh;
    }

    @include mobile{
        height: 13vh;
        
    }

    /*navigation bar*/
    .navbar {
        position: relative;
        display: flex;
        @extend %center;
        margin-right: 3.2%;
        transition: all 0.5s ease-in;

        //media queries for mobile
        @include mobile {
            position: fixed;
            flex-direction: column;
            min-width: 250px;
            height: 350px;
            background-color: $brown_color;
            color: $text_color;
            margin: 0;
            top: 2.5rem;
            right: -100%;
            align-items: flex-start;
            justify-content: start;
            padding-top: 4.5rem;
            border-radius: 15px 0 0 15px;
        }
    }
    //For mobile version
    .navbar.active2 {
        right: 0;
        transition: all .4s ease;
    }

    .navbar .close-btn {
        @include mobile {
            position: absolute;
            top: 0;
            left: 0;
            margin: 25px;
        }
    }
    /*navigation bar - anchor tag*/
    .navbar > a {
        font-family: 'Red Rose', cursive;
        color: $text_color;
        font-size: 1.2em;
        padding: 0.7rem 1.4rem;
        border-radius: 6px;
        margin: 0 0.5rem;

        @include mobile {
            display: block;
            font-size: 1.2rem;
            color: #eff5f4;
            margin: 0.3rem 15px;
        }

        @include tablet {
            font-size: 1.1rem;
            padding: 0.5rem 1rem;
            margin: 0;
        }
    }

    .navbar > a > i{
        font-size: 0.9rem;
        padding-left: 1px;
    }

    .navbar > a.active,
    .navbar a:hover {
        background-color: $button_color;
        transition: all 0.3s ease-in;

        @include mobile {
            background-color: transparent;
        }

        @include tablet {
            background-color: transparent;
        }
    }

    .navbar a:hover {
        @include mobile {
            transform: translateX(3.4px);
        }
    }
    /*logo*/
    .logo > a > img {
        @include mobile {
            width: 200px;
            height: auto;
        }

        @include tablet {
            width: 210px;
            height: auto;
        }
    }
    //mobile icons
    .nav-btns {
        font-size: 28px;
        color: $button_color;
        cursor: pointer;
        display: none; //hiding the buttons for desktop version
        //adding mixins - for mobile
        @include mobile {
            display: block;
            font-size: 1.5rem;
        }
    }
}

/*Hr section*/
.hr-section {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    font-size: 1.8rem;
    font-family: 'IM Fell French Canon', serif;
    font-style: italic;
    color: $text_color;
    margin: 35px 100px;

    @include tablet {
        font-size: 1.5rem;
        margin: 25px 50px;
    }

    @include mobile {
        font-size: 13px;
        margin: 15px 25px;
    }
}

.hr-section:before,
.hr-section:after {
    content: "";
    flex-grow: 1;
    background: $button_color;
    height: 2.4px;
    font-size: 0;
    line-height: 0;
    margin: 0 30px;

    @include tablet {
        margin: 0 20px;
    }

    @include mobile {
        margin: 0 6px;
    }
}

//Image and texts
.banner {
    background: url("images/persia.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0 20px;
    display: flex;
    @extend %center;

    @include tablet {
        width: 100%;
        height: 60vh;
    }

    @include mobile {
        height: 60vh;
        padding: 90px 20px 40px 20px;
    }
    //2nd div inside the main container
    .content {
        position: relative;
        width: 100%;
        min-height: 100vh;
        display: flex;
        @extend %center;

        @include tablet {
            width: 100%;
            min-height: 50vh;
        }

        @include mobile {
            min-height: 40vh;
            margin: 90px 20px 40px 20px;
        }
    }
    //texts inside the content div
    .content .texts {
        width: 50%;
        height: 100%;
        color: $text_color;
        background: rgba(#131212, $bg-opacity);
        padding: 20px;
        z-index: 1;
        border-radius: 15px;

        @include tablet {
            width: 80%;
            margin-top: 12%;
            background: rgba($brown_color, $background-opacity);
            padding: 20px;
            z-index: 1;
            border-radius: 15px;
        }

        @include mobile {
            background: rgba($brown_color, $background-opacity);
            z-index: 1;
            width: 80%;
            border-radius: 10px;
            padding: 10px;
        }
    }

    .content .texts > h1 {
        font-size: 3.8em;
        letter-spacing: 1px;
        font-family: 'Red Rose', cursive;

        @include tablet {
            font-size: 2rem;
            letter-spacing: 0;
        }

        @include mobile {
            font-size: 1rem;
            letter-spacing: 0;
        }
    }

    .content .texts > h2 {
        font-size: 1.8em;
        letter-spacing: 1px;
        font-family: 'Red Rose', cursive;

        @include tablet {
            font-size: 0.9rem;
            letter-spacing: 0;
        }

        @include mobile {
            font-size: 0.8rem;
            letter-spacing: 0;
        }
    }

    .content .texts > p {
        margin-top: 20px;
        font-size: 0.9em;
        letter-spacing: 1px;


        @include tablet {
            font-size: 0.7rem;
            letter-spacing: 0;
        }

        @include mobile {
            margin-top: 6px;
            font-size: 0.5rem;
            letter-spacing: 0;
        }
    }
    //prince image inside the content div
    .content img {
        margin-top: 13vh;
        width: 530px;

        @include tablet {
            position: absolute;
        }

        @include mobile {
            margin-top: 0;
            width: 300px;
            position: absolute;
        }
    }
    //buttons
    .buttons {
        margin: 30px 0;

        @include tablet {
            margin: 20px 0;
        }

        @include mobile {
            margin: 8px 0;
        }

        .btn, .btn2 {
            padding: 10px 20px;
            border: 1px solid $brown_color;
            background-color: $button_color;
            border-radius: 8px;
            color: $text_color;
            transition: all 0.3s ease-in;

            @include tablet {
                padding: 7px 10px;
                font-size: 0.7rem;
            }

            @include mobile {
                padding: 4px 5px;
                font-size: 0.5em;
                border-radius: 5px;
            }
        }

        .btn > i,
        .btn2 > i {
            padding-left: 4px;
        }

        .btn2 {
            margin-left: 10px;
        }

        .btn:hover, .btn2:hover {
            background-color: #ff7702;
        }
    }
}

/*Story section*/
.section {
    padding: 0 0 10px 0;
    width: auto;
    height: 380px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.4s ease-in-out;

    @include mobile {
        flex-direction: row;
        opacity: 1;
        height: auto;
    }

    .image-box {
        position: relative;
        width: 400px;
        height: 350px;
        margin: 10px 30px;

        @include tablet {
            height: 280px;
        }

        @include mobile {
            width: 200px;
            height: auto;
            margin: 0;
        }
    }

    .picture { /*image box of the gif*/
        border-radius: 50px 0 50px 0;
        object-fit: cover;
        width: 100%;
        height: 350px;

        @include tablet {
            height: 280px;
        }

        @include mobile {
            width: 200px;
            height: auto;
        }
    }

    .information { //texts for the gif image
        padding: 2px 5px 2px 10px;
        inline-size: 55%;
        overflow-wrap: break-word;
        text-align: justify;
        color: $text_color;
        line-height: 32px;

        .information > p {
            font-family: 'Charm', cursive;
        }

        @include tablet {
            padding-top: 25px;
            inline-size: 70%;
            font-size: 0.7rem;
            line-height: 18px;
        }

        @include mobile {
            inline-size: 73%;
            padding-top: 3px;
            font-size: 0.58rem;
            line-height: 14px;
        }
    }
}
/* Apply the slide-in animation when the section is visible */
.slide-in.active {
    opacity: 1;
    transform: translateY(0);
}

/*the image container*/
.main-container {
    position: relative;
    display: block;
    width: 100%;
    min-height: auto;

    @include mobile {
        height: auto;
    }
    /*first div*/
    .container1 {
        position: relative;
        display: flex;
        height: 50vh;
        flex-direction: row;
        margin: 3% 4%;

        @include tablet {
            margin: 0% 3% 0 3%;
            height: 39vh;
        }

        @include mobile {
            display: block;
            margin: 10%;
            height: 45vh;
        }
    }

    #texts1 { /*texts in the first div*/
        width: 50%;
        position: absolute;
        flex-wrap: wrap;
        bottom: 0;
        border-radius: 20px;
        left: 3%;
        text-align: justify;
        background-color: #2C170C;
        height: 25vh;
        z-index: 1;

        @include tablet {
            height: 14vh;
        }

        @include mobile {
            border-radius: 10px;
            width: 100%;
            height: 20vh;
            left: 0;
            bottom: 0;
        }
    }

    #chapter1 { /*image*/
        width: 50%;
        position: absolute;
        right: 3%;
        bottom: 0;
        transform: rotateZ(2deg);
        height: auto;

        @include mobile {
            transform: none;
            top: 0;
            width: 100%;
            right: 0;
            position: relative;
        }
    }
    /*Second div*/
    .container2 {
        position: relative;
        display: flex;
        height: 60vh;
        flex-direction: row;
        margin: 3% 4% 100px 4%;

        @include tablet {
            margin: 2% 3% 0 3%;
            height: 30vh;
        }

        @include mobile {
            display: block;
            margin: 0 10%;
            height: 45vh;
        }
    }

    #texts2 { /*texts in the first div*/
        width: 50%;
        height: 25vh;
        position: absolute;
        border-radius: 20px;
        right: 3%;
        text-align: justify;
        bottom: 0;
        right: 0;
        flex-wrap: wrap;
        background-color: #2C170C;
        z-index: 1;

        @include tablet {
            height: 12vh;
        }

        @include mobile {
            border-radius: 10px;
            width: 100%;
            height: 20vh;
            left: 0;
            bottom: 0;
        }
    }

    #chapter2 { /*image*/
        width: 50%;
        height: auto;
        position: absolute;
        left: 3%;
        bottom: 0;
        transform: rotateZ(-2deg);

        @include mobile {
            transform: none;
            top: 0;
            width: 100%;
            left: 0;
            position: relative;
        }
    }
    /*Third div*/
    .container3 {
        position: relative;
        display: flex;
        height: 50vh;
        flex-direction: row;
        margin: 3% 4% 4% 4%;

        @include tablet {
            margin: 2% 3% 5% 3%;
            height: 30vh;
        }

        @include mobile {
            display: block;
            margin:10%;
            height: 45vh;
        }
    }

    #texts3 { /*texts in the third div*/
        width: 50%;
        position: absolute;
        flex-wrap: wrap;
        bottom: 0;
        border-radius: 20px;
        left: 3%;
        text-align: justify;
        background-color: #2C170C;
        height: 25vh;
        z-index: 1;

        @include tablet {
            height: 12vh;
        }

        @include mobile {
            border-radius: 10px;
            width: 100%;
            height: 22vh;
            left: 0;
            bottom: 0;
        }
    }

    #chapter3 { /*image div*/
        width: 50%;
        position: absolute;
        right: 3%;
        bottom: 0;
        transform: rotateZ(2deg);
        height: auto;

        @include mobile {
            transform: none;
            top: 0;
            width: 100%;
            right: 0;
            position: relative;
        }
    }

    .ch-img { //image
        border-radius: 30px;
        width: 100%;
        height: 100%;

        @include mobile {
            border-radius: 15px;
        }
    }
    /*Headings and paragraphs of this container*/
    .para3.active, .para1.active, .para2.active,
    .heading3.active, .heading1.active, .heading2.active {
        opacity: 1;
        transform: translateY(0);
    }

    .heading1, .heading2, .heading3 {
        opacity: 0;
        color: #A9550D;
        transform: translateY(30px);
        transition: all 0.4s ease-in-out;
        padding: 10px 10px 5px 10px;

        @include tablet {
            font-size: 1rem;
        }

        @include mobile {
            font-size: 0.9rem;
        }
    }

    .para1, .para2, .para3 {
        color: blanchedalmond;
        opacity: 0;
        transform: translateY(30px);
        transition: all 0.4s ease-in-out;
        font-size: 0.9rem;
        padding: 4px 10px 10px 10px;

        @include tablet {
            padding-top: 0;
            font-size: 0.55rem;
        }

        @include mobile {
            padding-top: 0;
            font-size: 0.53rem;
        }
    }
}

//gallery
.slider { //main container of the sliding images
    position: absolute;
    height: 300px;
    margin: 0 auto 60px auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;

    @include tablet {
        position: relative;
    }

    @include mobile {
        position: relative;
        height: 180px;
    }

    .sliding { //2nd div inside the main container - overall
        display: flex;
        width: calc(400px * 14);
        animation: scroll 40s linear infinite;

        @include mobile {
            height: 200px;
            margin: 10px 0 0 0;
        }
    }

    .slide { //image's div
        height: 350px;
        width: 400px;
        display: flex;
        align-items: center;
        padding: 0 27px;
        perspective: 100px;

        @include mobile {
            height: 200px;
            width: 300px;
        }

        img { //image
            width: 100%;
            border-radius: 30px 0 30px 0;
            transition: all 0.4s ease-in-out;
        }

        img:hover {
            transform: translateZ(20px);
            cursor: pointer;
        }
    }
}

@keyframes scroll{
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(calc(-250px * 7));
    }
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(17, 14, 12, 1) 0%, rgba(17, 14, 12, 0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before{
    left: 0;
    top: 0;
}
.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

//video section
.video-container {
    width: 100%;
    height: 50vh;
    @extend %center;
    display: flex;
    margin-top: -50px;
    transition: all 0.4s ease-in;

    @include tablet {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
    }

    @include mobile {
        width: 100%;
        height: auto;
        display: block;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0;
    }
}

iframe {
    padding: 20px;
    border-radius: 0 60px 0 60px;

    @include tablet {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
    }

    @include mobile {
        width: 100px;
        padding: 10px 20px;
        height: auto;
        margin: 0;
    }
}

//other games
.new-games-container { //main container for the games section
    width: 100%;
    margin-bottom: 50px;

    .games-header {
        text-align: center;
        font-size: 2rem;
        color: $text_color;
        font-family: 'Red Rose', cursive;
        margin: 0 0 15px 0;

        @include mobile {
            font-size: 1.4rem;
            margin: 0 0 10px 0;
        }
    }

    .games-wrapper {
        @extend %center;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .game { //game images and info
        padding: 30px 30px 0 30px;

        @include mobile {
            padding: 10px 10px 0 10px;
        }
    }

    .game > a > p {
        font-size: 1.1rem;
        color: $text_color;

        @include mobile {
            font-size: 0.9rem;
            text-align: center;
        }
    }

    .game > a > p:hover {
        font-size: 1.1rem;
        color: $button_color;
    }

    .game > a > img {
        width: 250px;
        height: 350px;
    }

    .game > a > img:hover {
        opacity: 0.5;
        transition: all 0.4s ease;
        transform: translateX(3px);
    }
}

/*footer*/
.footer {
    bottom: 0;
    width: 100%;
    padding: 10px 100px;
    background-color: $button_color;

    .footer-info {
        margin: 30px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        .ubisoft-logo{
            width: 130px;
            height: 90px;

            @include mobile{
                width: 70px;
                height: 50px;
            }
        }
        
        @include mobile {
            display: block;
        }

        .store { //store link
            font-size: 1.3rem;

            @include mobile {
                display: flex;
                text-align: center;
                justify-content: center;
                font-size: 1rem;
            }
        }

        .store > li > a {
            padding: 0 8px;
        }

        .store > li > a > i {
            color: #131212;
        }
    }

    .footer-info > p {
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 1px;

        @include mobile{
            font-size: 0.8rem;
            padding: 3% 0;
            letter-spacing: 0;
        }
    }

    .social-media-icons {
        display: flex;
        @extend %center;
    }

    .social-media-icons > li {
        padding: 3px;
    }

    .social-media-icons > li > a > i {
        color: $text_color;
        font-size: 0.7rem;
        border: 1px solid $text_color;
        border-radius: 100px;
        padding: 6px;
    }

    .social-media-icons > li > a > i:hover {
        border: 1px solid $brown_color;
        background: $brown_color;
        border-radius: 100px;
    }

    .footer-logo {
        position: relative;
    }
}